@import "tailwindcss";

html {
    color: white;
    background-color: black;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.error {
    color: red;
    margin: 1rem 0;
  }

:root {
  --ctx-menu-background: black;
  --ctx-menu-border: 1px solid rgb(50, 50, 50);
  --ctx-menu-border-radius: 0.5rem;
  --ctx-menu-hover-bg: #2f0d68;
  --ctx-menu-font-size: 0.9rem;
  --ctx-menu-padding: 0.375rem 0.5rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #411096;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2f0d68;
}